/*
Find me @Jayraydee on twitter!
Terms and Conditions:
No Refunds on digital goods, If you have questions concerning your order please contact us. 
Your license does not include the right to redistribute copies in anyway, including but not limited to: 
advertising, stock photography, print sale profits, or resale of any nature. Your purchase of the original
files releases The Seller from any liability due to loss or damage of the images, and also releases the Seller 
from any obligation to maintain copies of any digital file, image, or photograph. You hereby grant to The 
Seller the right to use and publish images, graphics, or media to further promote their services, including 
portfolio, web site, display, advertisement, and editorial use. The Seller agrees to limit the use of these 
images, graphics, or media to promotional use only.
*/
/*BEGIN PS4 Controller Styling*/

.controller.custom{
    background: url(Base.png);
    height: 500px;
    width: 800px;
    background-position-x: 0px;
    background-repeat:no-repeat;
   
   
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(Disconnected.png);
    background-repeat:no-repeat;
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}
 .custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
 width: 250px;
    height: 333px;
    left: 100px;
    top: 101px;
    position: absolute;
    background-repeat:no-repeat;
} 
.custom .trigger{/* These are the actual triggers themselves */
    width: 200px;
    height: 127px;
    background: url(bumper.png);
    background-repeat:no-repeat;
}
.custom .trigger.left{ 
    float: left;
    left:0px;
    background-position-x: 0px;
    position: absolute;
}
.custom .trigger.right{
    float: right;
    width: 200px;
    height: 127px;
    top: 0px;
    left:398px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-position-x: -1px;
    position: absolute;
}

.custom .bumper{
    width: 256px;
    height: 200px;
    left: 472px;
    top: 162px;
    background: url(CZ.png);
    opacity: 0;
    background-repeat:no-repeat;
    position: absolute;
}

.custom .bumper.right.pressed{
    opacity: 1;
    width: 90px;
    height: 80px;
    background-position: -177px -272px; 
    float: left;
    left: 650px;
    top: 224px;
}
.custom .bumper.left.pressed{
    opacity: 1;
    width: 60px;
    height: 80px;
    left: 612px;
    top: 153px;
    background-position: -140px -200px;
    float: right;
}
.custom .quadrant{
    position: absolute;
    background: url(player-n.png);
    height: 17px;
    width: 111px;
    top: 140px;
    left: 240px;
    background-repeat:no-repeat;
}
.custom .p0{
    background-position: 0 -6px;
}
.custom .p1{
    background-position: 0 -28px;
}
.custom .p2{
    background-position: 0 -49px;
}
.custom .p3{
    background-position: 0 -70px;
}
/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back{ 
    position: absolute;
    background: url(Mode.png);
    width: 40px;
    height: 19px;
    opacity: 0;
    background-repeat:no-repeat;
}
.custom .back.pressed{
    /*background-position-y: -1px;*/
    top: 36px;
    left: 72px;
    width: 43px;
    height: 43px;
    opacity: 1;
}
.custom .start{
    background: url(start.png);
    width: 60px;
    height: 35px;
     opacity: 1;
    background-repeat:no-repeat;
}

.custom .start.pressed{
    position: absolute;
    top: -24px;
    left: 59px;
    width: 190px;
    opacity: 1;
    background-position-x: 0px;
}

/* Positioning and size of the container for the face buttons */
.custom .abxy{
    opacity: 1;
    position: absolute;
    width: 256px;
    height: 200px;
    left: 472px;
    top: 162px;
    background: url(ABXY.png);
    background-repeat:no-repeat;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    opacity: 0;
    position: absolute;
    width:165px;
    height:165px;
    background: url(ABXY.png);
}
.custom .button.a.pressed{
    opacity: 1;
    background-position: -18px -339px;
    top: 130px;
    left: 19px;
    width: 80px;
    height: 80px;
    
}
.custom .button.b.pressed{
    opacity: 1;
    background-position: -97px -294px;
    top: 85px;
    left: 97px;
    width: 80px;
    height: 80px;
    
}
.custom .button.x.pressed{
    opacity: 1;
    background-position: 0px -260px;
    top: 50px;
    left: 0px;
    width: 65px;
    height: 65px;
    
}
.custom .button.y.pressed{
    opacity: 1;
    background-position: -70px -230px;
    top: 20px;
    left: 70px;
    width: 65px;
    height: 65px;
    
}





.custom .sticks{
    position: absolute;
    width: 310px;
    height: 100px;
    top: 372px;
    left: 240px;
    background-repeat:no-repeat;
}
.custom .stick{
    position: absolute;
    background: url(stick.png);
    height:88px;
    width: 88px;
    background-repeat:no-repeat;
}
.custom .stick.pressed.left{
    background-position-x: -88px;
}
.custom .stick.pressed.right{
    background-position-x: -88px;
}
.custom .stick.left{
    top: -124px;
    left: -91px;
}
.custom .stick.right{
    top: calc(100% - 105px);
    left: calc(100% - 100px);
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 221px;
    height: 222px;
    top: 193px;
    left: 132px;
}
.custom .face{
    background: url(dpad.png);
    position: absolute;
    opacity: 1;
}
.custom .face.up{
    width: 29px;
    height: 71px;
    left: 52px;
    top:0px;
    background-position: -71px 0px;
    background-repeat:no-repeat;
}
.custom .face.down{
    width: 29px;
    height: 71px;
    left: 51px;
    top: 69px;
    background-position: -170px 0px;
    background-repeat:no-repeat;
}
.custom .face.left{
    width: 71px;
    height: 27px;
    top: 57px;
    left: -6px;
    background-position: 0px 0px;
    background-repeat:no-repeat;
}
.custom .face.right{
    width: 71px;
    height: 27px;
    top: 57px;
    left: 66px;
    background-position: -100px -0px;
    background-repeat:no-repeat;
}
.custom .face.right.pressed{
    width: 71px;
    height: 27px;
    top: 57px;
    left: 65px;
    opacity: 1;
    background-position: -100px -73px;
    background-repeat:no-repeat;
}
.custom .face.left.pressed{
    width: 71px;
    height: 27px;
    top: 57px;
    left: -4px;
    background-position: -0px -73px;
    background-repeat:no-repeat;
}
.custom .face.up.pressed{
    width: 29px;
    height: 79px;
    left: 51px;
    top:2px;
    background-position: -71px -73px;
    background-repeat:no-repeat;
}
.custom .face.down.pressed{ 
    width: 29px;
    height: 71px;
    left: 51px;
    top: 70px;
    background-position: -170px -74px;
    background-repeat:no-repeat;
}
.custom .trigger-button.left{
    left: 600px;
    top: 77px;
    background-position: 0px 0px;
    background-repeat:no-repeat; 
}
.custom .trigger-button.right{ 
}
.custom .trigger-button.left.pressed{  
}
.custom .trigger-button.right.pressed{  
}
.custom .touchpad.pressed{
    position:absolute;
    width: 280px;
    height: 160px;
    top: 127px;
    left: 282px;
    background: url(touchpad.png);
    background-repeat:no-repeat; 
}
.fstick{
    position: absolute;
    width: 280px;
    height: 132px;
    top: 192px;
    left: 74px;      
}
.fstick.up{
  
}
.fstick.down{
  
}
.fstick.left{
  
}
.fstick.right{
  
}
.fstick.up.right{
  
}
.fstick.up.left{
  
}
.fstick.down.right{
  
}
.fstick.down.left{
  
}
/*END XBOX Controller Styling*/
