/*
Find me @Jayraydee on twitter!
Terms and Conditions:
No Refunds on digital goods, If you have questions concerning your order please contact us.
Your purchase grants you the right to use and display the images for commercial use via streaming,
recorded and rebroadcasted media. 
Your license does not include the right to redistribute copies in anyway, including but not limited to:
advertising, stock photography, print sale profits, or resale of any nature. Your purchase of the original
files releases The Seller from any liability due to loss or damage of the images, and also releases the Seller
from any obligation to maintain copies of any digital file, image, or photograph. You hereby grant to The 
Seller the right to use and publish images, graphics, or media to further promote their services, including 
portfolio, web site, display, advertisement, and editorial use. The Seller agrees to limit the use of these 
images, graphics, or media to promotional use only.
*/
/*BEGIN XBOX Controller Styling*/

.controller.custom{
    background: url(base.png);
    height: 657px;
    width: 781px;
    background-position-x: 0px;
    background-repeat:no-repeat;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(disconnected.png);
    background-repeat:no-repeat;
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}
 .custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 127px;
    height: 93px;
    top: 0px;
    left:10px;
    position: absolute;
    background-repeat:no-repeat;
} 
.custom .trigger{/* These are the actual triggers themselves */
    width: 200px;
    height: 127px;
    background: url(trigger.png);
    background-repeat:no-repeat;
}
.custom .trigger.left{ 
    float: left;
    left:147px;
    background-position-x: 0px;
    position: absolute;
}
.custom .trigger.right{
    float: right;
    width: 200px;
    height: 127px;
    top: 0px;
    left:413px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-position-x: -1px;
    position: absolute;
}
.custom .bumper{
    width: 208px;
    height: 333px;
    left: 110px;
    top: 133px;
    background: url(bumper.png);
    opacity: 0;
    background-repeat:no-repeat;
    position: absolute;
}
.custom .bumper.pressed{ /* The '.pressed' class is used for most buttons to signify they've been pressed */
    opacity: 1;
}
.custom .bumper.right{
     -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float: left;
    left: 462px;
    top: 133px;
}
.custom .bumper.left{
    float: right;
}
/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat:no-repeat;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back, .custom .start{
    background: url(start-select.png);
    width: 30px;
    height: 19px;
    background-repeat:no-repeat;
}
.custom .back.pressed{
    /*background-position-y: -1px;*/
    top: 25px;
    left: 27px;
    width: 35px;
    opacity: 1;
}
.custom .start.pressed{
    top: 25px;
    left: 140px;
    width: 35px;
    opacity: 1;
    background-position-x: -36px;
}
.custom .back{ /* share */
    position: absolute;
    top: -101px;
    left: -55px;
    float: left;
    width: 38px;
    height: 50px;
    opacity: 0;
}
.custom .start{ /* options */
    position: absolute;
    top: -101px;
    left: 284px;
    float: right;
    width: 38px;
    height: 50px;
    opacity: 0;
    background-position: px 0;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 400px;
    height: 260px;
    top: 148px;
    left: 571px;
    background-repeat:no-repeat;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:52px;
    height:52px;
    background: url(abxy.png);
}
.custom .button.pressed{
    background-position-y: -53px;
    width: 52px;
    height: 53px;
    margin-top: 5px;
}
.custom .a{ 
    background-position: 0px 0px;
    top: 162px;
    left: -07px;
    background-repeat:no-repeat;
}
.custom .b{ 
    background-position: -52px 0px;
    top: 109px;
    left: 46px;
    background-repeat:no-repeat;
}
.custom .x{ 
    background-position: -104px 0px;
    top: 109px;
    left: -60px;
    background-repeat:no-repeat;
}
.custom .y{ 
    background-position: -156px 0px;
    top: 56px;
    left: -7px;
    background-repeat:no-repeat;
}
.custom .sticks{
    position: absolute;
    width: 310px;
    height: 100px;
    top: 374px;
    left: 240px;
    background-repeat:no-repeat;
}
.custom .stick{
    position: absolute;
    background: url(sticks.png);
    height:88px;
    width: 88px;
    background-repeat:no-repeat;
}
.custom .stick.pressed.left{
    background-position-x: -88px;
}
.custom .stick.pressed.right{
    background-position-x: -88px;
}
.custom .stick.left{
    top: -124px;
    left: -91px;
}
.custom .stick.right{
    top: calc(100% - 105px);
    left: calc(100% - 100px);
}
.custom .p0, .custom .p1, .custom .p2, .custom .p3{
    position:absolute;
    height: 624px;
    width: 840px;
    background: url(text.png);
    background-position: -22px -20px;
    margin-top: 20px;
    -webkit-animation: signup-response 200s infinite;
    -webkit-animation-delay: s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards ;        
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 74px;
    height: 133px;
    top: 359px;
    left: 220px;
}
.custom .face{
    background: url(dpad.png);
    position: absolute;
    opacity: 0;
}
.custom .face.up{
    width: 38px;
    height: 59px;
    left: 51px;
    top:1px;
    background-position: -38px 0px;
    background-repeat:no-repeat;
}
.custom .face.down{
    width: 38px;
    height: 59px;
    left: 52px;
    top: 59px;
    background-position: 0px 0px;
    background-repeat:no-repeat;
}
.custom .face.left{
    width: 59px;
    height: 38px;
    top: 39px;
    left: 11px;
    background-position: 0px -96px;
    background-repeat:no-repeat;
}
.custom .face.right{
    width: 59px;
    height: 38px;
    top: 39px;
    left: 69px;
    background-position: 0px -58px;
    background-repeat:no-repeat;
}
.custom .face.right.pressed{
    width: 59px;
    height: 38px;
    top: 39px;
    left: 69px;
    opacity:1;
    background-position: 0px -58px;
    background-repeat:no-repeat;
}
.custom .face.left.pressed{
    width: 59px;
    height: 38px;
    top: 39px;
    left: 11px;
    opacity: 1;
    background-position: 0px -96px;
    background-repeat:no-repeat;
}
.custom .face.up.pressed{
    width: 38px;
    height: 59px;
    left: 51px;
    top:1px;
    background-position: -38px 0px;
    opacity: 1;
}
.custom .face.down.pressed{ 
    width: 38px;
    height: 59px;
    left: 51px;
    top: 59px;
    opacity: 1;
    background-position: 0px 0px;
    background-repeat:no-repeat;
}
.custom .trigger-button.left{
    left: 600px;
    top: 77px;
    background-position: 0px 0px;
    background-repeat:no-repeat; 
}
@-webkit-keyframes signup-response{
  0% { transform:translate(00%, 00%) scale(1.25) rotate(0deg); opacity: 0.0; }  
  90%{ transform:translate(00%, 00%) scale(1.20) rotate(0deg); opacity: 0.0; }
  95%{ transform:translate(00%, -58%) scale(1.25) rotate(0deg); opacity: 1.0; }
  100% { transform:translate(00%, -58%) scale(1.25) rotate(0deg); opacity: 0.0; }
}

/*END XBOX Controller Styling*/
