<style>

body, html {
  height: 100%;
  fill: red;
}
.parallax{
 
  background-color: black;
    background-image: url("https://jayraydee.github.io/Assets/144771254-Logo-A.png");
	min-height: 10000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding: 300px;
    margin: auto;
}
a{
color: black;  
text-decoration: none;
}
p {
  font:  bold 12px/30px Oswald, sans-serif;
	border: 04px solid #840808;
	padding:00px;
	width:340px; 
	height:190px;
	padding-top: 0px;
	padding-bottom: 0px;
  color: black;
	text-shadow: 01px 1px 1px #fbfbfb,-1px 1px 1px #fbfbfb,01px -1px 1px #fbfbfb,-1px -1px 1px #fbfbfb;
  
    z-index: 1000;
	font-size: 30px;
	text-align: center;
     }


.column {
	float: left;
	width: 340px;
	padding: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 260px; 
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#header{
	position: absolute;
	z-index: 1000;
	top: 200px;
	left: 200px;
}
#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: 
                       "nav  main"
                       "nav  foot";
  grid-template-rows: 50% 30px ;
  grid-template-columns: 150px 1fr;
}


#page > nav {
  grid-area: nav;
  background-color: #ffa08c;
}

#page > main {
  grid-area: main;
  background-color: #ffff64;
}

#page > footer {
  grid-area: foot;
  background-color: #8cffa0;
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}








.thumbnail img{
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 0px solid blue;
}

.thumbnail span{ /*CSS for enlarged image*/

padding: 5px;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 0px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
position:relative;
visibility: visible;
bottom: 230px;
left: -86px;
z-index: 50;
}

</style>
