/*
Find me @Jayraydee on twitter!
Terms and Conditions:
No Refunds on digital goods, If you have questions concerning your order please contact us. 
Your license does not include the right to redistribute copies in anyway, including but not limited to: 
advertising, stock photography, print sale profits, or resale of any nature. Your purchase of the original
files releases The Seller from any liability due to loss or damage of the images, and also releases the Seller 
from any obligation to maintain copies of any digital file, image, or photograph. You hereby grant to The 
Seller the right to use and publish images, graphics, or media to further promote their services, including 
portfolio, web site, display, advertisement, and editorial use. The Seller agrees to limit the use of these 
images, graphics, or media to promotional use only.
*/
/*BEGIN PS4 Controller Styling*/


/* Positioning and size of the container for the face buttons */
.xbox .abxy{
    position: absolute;
    width: 400px;
    height: 260px;
    top: 142px;
    left: 548px;
    background-repeat:no-repeat;
}
/* base class used to simplify the sprite mapping */
.xbox .button{
    position: absolute;
    width:50px;
    height:50px;
    background: url(ABXY1.png);
}
.xbox .button.pressed{
    background-position-y: -51px;
    width: 52px;
    height: 51px;
    margin-top: 05px;
}
.xbox .a{ 
    background-position: 0px 1px;
    top: 162px;
    left: -07px;
    background-repeat:no-repeat;
}
.xbox .b{ 
    background-position: -50px 1px;
    top: 109px;
    left: 46px;
    background-repeat:no-repeat;
}
.xbox .x{ 
    background-position: -102px 1px;
    top: 109px;
    left: -60px;
    background-repeat:no-repeat;
}
.xbox .y{ 
    background-position: -155px 1px;
    top: 57px;
    left: -6px;
    background-repeat:no-repeat;
}

