/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: url(base.png) center no-repeat;
    height: 534px;
    width: 1122px;
}

.fight-stick.disconnected {
    background: url(Disconnected.png) no-repeat;
    position: absolute;
   
}

.fight-stick.disconnected div {
    display: none;
}

.fight-stick .trigger-button {
    width: 125px;
    height: 125px;
    background: url(Hit_Gray.png);
    opacity: 0;
}

.fight-stick .trigger-button.pressed {
     opacity: 1;
}

.fight-stick .trigger-button.left {
    position: absolute;
    float: right;
    bottom: 29px;
    right: 107px;
}

.fight-stick .trigger-button.right {
    position: absolute;
    bottom: 100px;
    right: 269px;   
}

/-----------------------------------------
.fight-stick .bumper.pressed {
    transform: translateY(50px);
    -webkit-filter: invert(1);
}
.fight-stick .bumper.left {
    bottom: 29px;
    right: 76px;
    width: 125px;
    height: 125px;
    background: url(Hit_Gray.png);
    opacity: 0;
}

.fight-stick .bumper.left.pressed {
    width: 125px;
    height: 125px; 
    -webkit-filter: invert(1); 
    opacity: 1;
}

.fight-stick .bumper.right {
    width: 125px;
    height: 125px;
    -webkit-filter: invert(1); 
    background: url(Hit_Red.png);
    opacity: 0;
}

.fight-stick .bumper.right.pressed {
     width: 125px;
    height: 125px; 
     
    opacity: 1;
}

/-----------------------------------------

.fight-stick .arrows {
    position: absolute;
    width: 70px;
    height: 217px;
    top: 53px;
    left: 49px;
}

.fight-stick .back, .fight-stick .start {
    width: 0px;
    height: 0px;
    background: url(Hit_Gray.png);
    display: none;
    border-radius: 100%;
}

.fight-stick .abxy {
    position: absolute;
    width: 310px;
    height: 370px;
    bottom: 103px;
    left: 472px;
}

.fight-stick .button {
    width: 123px;
    height: 123px;
    width: 1px;
    height: 1px;
    background: url(Hit_Gray.png)
    opacity: 1;
    display: block;
    position: absolute;
}

.fight-stick .button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.fight-stick .a {
    bottom: 7px;
    left: 0px;
}

.fight-stick .b {
    bottom: 71px;
    right: 33px;
}

.fight-stick .x {
    top: 61px;
    left: 33px
}

.fight-stick .y {
    right: 2px;
    top: -6px;
}

.fight-stick .fstick {
    position: absolute;
    width: 230px;
    height: 230px;
    top: 149px;
    left: 47px;
    background: url(stick.png) no-repeat;
}

.fight-stick .fstick.up {
    background-position-x: -1840px;
}

.fight-stick .fstick.down {
    background-position-x: -919px;
}

.fight-stick .fstick.left {
    background-position-x: -1379px;
}

.fight-stick .fstick.right {
    background-position-x: -460px;
    
}
.fight-stick .fstick.up.right {
    background-position-x: -230px;
}

.fight-stick .fstick.up.left {
    background-position-x: -1610px;
}

.fight-stick .fstick.down.right {
    background-position-x: -690px;
}

.fight-stick .fstick.down.left {
    background-position-x: -1148px;
}
