/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: url(base.png) center no-repeat;
    height: 534px;
    width: 1122px;
}

.fight-stick.disconnected {
    background: url(Disconnected.png) no-repeat;
    position: absolute;
   
}

.fight-stick.disconnected div {
    display: none;
}

.fight-stick .triggers {
    width: 326px;
    height: 198px;
    position: absolute;
    right: 1px;
    bottom: 70px;
}

.fight-stick .trigger-button {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
}

.fight-stick .trigger-button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.fight-stick .trigger-button.left {
    position: absolute;
    float: right;
    bottom: 4px;
    right: 41px;
}

.fight-stick .trigger-button.right {
    float: left;
    
}

.fight-stick .bumpers {
    width: 295px;
    height: 198px;
    position: absolute;
    right: 1px;
    top: 84px;
}

.fight-stick .bumper {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
}

.fight-stick .bumper.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.fight-stick .bumper.left {
    position: absolute;
    float: right;
    bottom: 4px;
    right: 10px;
}

.fight-stick .bumper.right {
    float: left;
}

.fight-stick .arrows {
    position: absolute;
    width: 70px;
    height: 217px;
    top: 53px;
    left: 49px;
}

.fight-stick .back, .fight-stick .start {
    width: 70px;
    height: 70px;
   
    display: none;
    border-radius: 100%;
}

.fight-stick .back {
    float: left;
}

.fight-stick .start {
    position: absolute;
    bottom: 4px;
    left: -1px;
}

.fight-stick .back.pressed, .fight-stick .start.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.fight-stick .abxy {
    position: absolute;
    width: 310px;
    height: 370px;
    bottom: 103px;
    left: 472px;
}

.fight-stick .button {
    width: 123px;
    height: 123px;
    background: #333333;
    border-radius: 100%;
    opacity: 1;
    display: block;
    position: absolute;
}

.fight-stick .button.pressed {
    transform: translateY(5px);
    -webkit-filter: invert(1);
}

.fight-stick .a {
    bottom: 7px;
    left: 0px;
}

.fight-stick .b {
    bottom: 71px;
    right: 33px;
}

.fight-stick .x {
    top: 61px;
    left: 33px
}

.fight-stick .y {
    right: 2px;
    top: -6px;
}

.fight-stick .fstick {
    position: absolute;
    width: 240px;
    height: 154px;
    top: 184px;
    left: 153px;
    background: url(wasd.png) no-repeat;
}

.fight-stick .fstick.up {
    background-position-x: -240px;
}

.fight-stick .fstick.down {
    background-position-x: -720px;
}

.fight-stick .fstick.left {
    background-position-x: -480px;
}

.fight-stick .fstick.right {
    background-position-x: -960px;
    
}
.fight-stick .fstick.up.right {
    background-position-x: -1920px;
}

.fight-stick .fstick.up.left {
    background-position-x: -1200px;
}

.fight-stick .fstick.down.right {
    background-position-x: -1680px;
}

.fight-stick .fstick.down.left {
    background-position-x: -1440px;
}
